table{
	margin:20px;
}

.table thead{
	background-color: #f5ad42;
}
.table th{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color:white;
}

.table tbody{
	text-align: center;
}